.autoshow_main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto_subcontainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
    
}
.auto_subcontainer:after{
    content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}

.item{
    width: 18%;
    height: 100%;
    border-radius: 0px;
    background-color: aliceblue;

}
.carimg{
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.title_cont{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;

}

.titleimg{
    object-fit: contain;
}


@media screen and (max-width:980px) {
    .title_cont{
        height: 200px;
        width: 200px;

    
    }
}