
.events{
  background-color: black;
  padding-top: 200px;
  background-image: url(../img/lines.svg);
  background-position:initial;
  background-size:auto;
  padding-bottom: 100px;
}
.event-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFE382;
  gap: 30px;
  text-align: center;
  
}

.heading{

    font-family: "Castoro Titling", serif;
    font-weight: 100;
    font-style:italic;
    font-size: 50px;
    

  
}
.heading1{

  font-family: "Castoro Titling", serif;
  font-weight: 700;
  font-style:italic;
  font-size: 100px;
  opacity: 0.7;


}
.headoutline{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px;;
}

.headoutline1{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px;
}
.selector{
  display: flex;
  font-size: large;
  border-radius: 10px ;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button{

  cursor: pointer;
  padding: 20px;
  z-index: 1;

}

.screen-main{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-top: 20px;
}
.screen{
  border-radius:  5px ;
}
.arrriii{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.posterholder{

    margin:4px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    
    
    
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;

  
  
}



.animation{
  animation: fadeup 0.5s;
  transition: 0.5s;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}


.firstcontainer1{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction:column-reverse;

}

.firstcontainer2{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction:column-reverse;

}


.firstcontainer3{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction:column-reverse;

}
.maineventheaddiv{
  color: #FFF5C2;
  display: block;
  text-align: center;
  font-size: large;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.maineventheaddiv3{
  color: #FFF5C2;
  display: block;
  text-align: center;
  font-size: large;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;


}


.screen1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen1 .posterholder1{
  position: absolute;
  width: 240px;
  height: 320px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: 50% 100%;


}
.screen1:hover .posterholder1{
  transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i)*180px),-50px);
}
.screen1 .posterholder1:hover{

  translate: calc(var(--i) * 20px) -50px;
  z-index: 100;
}


.image1{
  width: 100%;
  height: 100%;
  object-fit:fill;
}

@media  screen and (max-width: 754px){
  .selector{
    font-size: medium;
  }
  .heading{
    font-size: 35px;
  }
}
@keyframes fadeup {
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

