.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.events{
  background-color: black;
  margin-top: 200px;
}
.event-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
}

.heading{

    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 50px;

  
}

.selector{
  display: flex;

  font-size: large;
  border: 2px solid white;
  border-radius: 10px ;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.button1{
  cursor: pointer;
  padding: 20px;
}
.button{
  border-left: 1px solid white;
  cursor: pointer;
  padding: 20px;

}

.screen-main{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.screen{
  background-color:#191919;
  border-radius:  5px ;




  

}
.arrriii{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px;
  
}

.posterholder{

margin:10px;
}
.image{
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}