


.events{
  background-color: black;
  margin-top: 200px;
}
.event-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
}

.heading{

    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 50px;

  
}

.selector{
  display: flex;
  font-size: large;
  border-radius: 10px ;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button{

  cursor: pointer;
  padding: 20px;
  z-index: 1;

}

.screen-main{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-top: 20px;
}
.screen{
  background-color:#191919;
  border-radius:  5px ;
}
.arrriii{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.posterholder{

    margin:4px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    transition: 0.5s;
    animation: fadeup 0.5s;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  
  
}

@keyframes fadeup {
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}