.maincontainer{
    height: 100vh;
    width: 100%;
}

.subcontainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    
}

.persons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.person1{
    position: relative;
    width: 400px;
    height: 500px;

    z-index: 100;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);

    transition: 0.25s;
    background-color:  #FFE382;
}

.person1:hover{
    transform: skewY(-5deg) translateY(-10px);
}


.person2{
    width: 400px;
    height: 500px;
    background-color:  #FFE382;
    z-index: 100;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    transition: 0.25s;
}

.person2:hover{
    transform: skewY(-5deg) translateY(-10px);
}


.outline{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
.image1{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.first{
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: marquee 80s linear infinite;

}
.backgroundmain{
    position: absolute;
    top:-100px;
    display: flex;
    flex-direction: column;
}
.background-text{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 135px;
    gap: 20px;
    top: 0;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    
}
.background-text1{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 135px;
    
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    
}
.blackbar{
    bottom: 50px;
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }

}

@media  screen and (max-width: 890px) and (min-width: 638px){
    .person1{
        height: 350px;
        width: 250px;
    }
    .person2{
        height: 350px;
        width: 250px;
    }

    .backgroundmain{
        gap: 50px;
    }
}


@media  screen and (max-width: 637px){
    .persons{
        flex-direction: column;
    }
    .person1{
        height: 350px;
        width: 250px;
    }
    .person2{
        height: 350px;
        width: 250px;
    }
}
