.mainconatainer_quotes{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.ekadismain{
    width: 100%;
    height: 100%;

    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ekadis{
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transform: translateY(-5%);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.ekadis.op{
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transform: translateY(0);
    opacity: 1;

}

.whatiseka{
    text-align: center;
    font-size: 35px;
    color: aliceblue;
    font-family: "Fjalla One", sans-serif;

}
.discpr{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

.quotes-backgroundmain{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    
}
.mainrow1{
    width: 100%;
    display: flex;
}

.mainrow2{
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 220px;
}

.row1{

    width: 100%;
    display: flex;
    flex-direction: row;
    animation: marquee 80s linear infinite;

}

.row2{

    width: 100%;
    display: flex;
    flex-direction: row;

    transform: translateX(-200%);
    animation: marquee2 80s linear infinite;

}

.row11{
    height: 25vh;
    width: 400px;

    margin: 10px;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }

}


@keyframes marquee2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }

}


@media screen and (max-width:577px) {
    .ekadis.op{
        height: 400px;
        width: 300px;
    }
    .whatiseka{
        font-size: 25px;
    }
}

