*{
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
}

body {
  font-family: Arial Black, sans-serif;
  text-align: center;
  background: #000;
  height: 200vh;
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
}