*{
  margin: 0;
  padding: 0;
}

body{

  background-color: black;
}
.container {
  height: 300vh;
  position: relative;


}
.container .sticky{
  position: sticky;
  height: 100vh;
  background-color: black;
  top: 0;
  
}
.imagecontainer {
  position: sticky;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.img1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2{
  position: absolute;
  left:0px;
  width: 100%;
  height: 100vh;
  object-fit:cover;
  
}

.logo{
  position: absolute;
  left:0px;
  width: 100%;
  height: 100vh;
  object-fit:cover;
  transform: scale(0.5);
}


.maincontainer{
  padding: 10px;
  
}
.secondcontainer{
  display: flex;
  height: 100vh;
}
.secondcontainer > div{
  flex-direction: column;
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



.events
{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
}
.posters
{
  height: 450px;
  width: 350px;
  margin: 10px;
  

  
}
.imgs{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
 @media only screen and (max-width: 510px){
  .logo{
    object-fit:contain;
    transform: scale(1.5);
  }
} 

